.Panel {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  max-width: 768px;
}

.Panel-items {
  display: grid;
  gap: 1rem;
}
.Panel-item {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(calc(var(--Panel-item-columns) + 1), 1fr);
}

.Panel-item-actions {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--Panel-item-actions-columns), 1fr);
  font-size: 12px;
}

.Panel-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.Panel-row-inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Panel-item--loading {
  animation: Panel--loading 0.5s alternate infinite;
}

@keyframes Panel--loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
